:root {
    --basic-azure: #00838F;
    --basic-grey: #F2F2F2;
    --grey: #4F4F4F;
    --basic-blue: #2196F3;
}

.header {
    background-color: var(--basic-azure);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    padding-left: 32px;
    gap: 10px
}

.input {
    background-color: var(--basic-grey);
    width: 912px;
    height: 40px;
    border-radius: 4px;
    padding-left: 20px;
    font-style: italic;
}

.input::before {
    display: none;
}


.button {
    background-color: var(--basic-blue);
    font-size: 15px;
    line-height: 26px;
    height: 40px;
    padding-left: 22px;
    padding-right: 22px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 854px;
    background-color: white;
}

.main-text {
    font-size: 46px;
    line-height: 65px;
    color: var(--grey);
}

.repos-block-data {
    width: 40%;
    background-color: var(--basic-grey);
    height: 854px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.repos-desc {
    color: var(--grey);
    font-size: 20px;
    line-height: 20px;
    margin-top: 80%;
}

.result-block {
    width: 100%;
    padding-left: 30px;
}

.result-desc {
    font-size: 46px;
    line-height: 65px;
    text-align: start;
    margin-top: 0;
}

.repos {
    width: 90%;
}

.repos-label {
    font-size: 30px;
    line-height: 30px;
    text-align: start;
    color: black;
}

.repos-data-box {
    display: flex;
    justify-content: space-between;
}

.repos-language {
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: var(--basic-blue);
    border-radius: 50px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.repos-data {
    font-size: 20px;
    line-height: 20px;
    color: var(--grey)
}

.forks-block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.forks-star {
    width: 25px;
    height: 25px;
    fill: orangered;
    background-position: center center;
    background-size: 100% 100%;
}